main{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input,select:focus{
    outline: none;
}

input::placeholder{
    font-weight: 300;
}


#mob-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
